<div class="image-with-text section-{{ section.id }} container{% if section.settings.fullwidth %}-fluid p-0{%endif%} my-{{ section.settings.margin }} gx-0" 
style="background-color: {{ section.settings.bg_color }}">
 <div class="row gx-0">
    <div class="col-12 col-lg-6 order-first image-col{%if section.settings.layout == "2" %} order-lg-last{%endif%}" style="min-height: 250px;">
      {% if section.settings.image != blank %}
            <img src="{{ section.settings.image | image_url }}" class="img-fluid" alt="{{ section.settings.alt }}" />
     {% else %}
            <img src="{{ 'placeholder.svg' | image_url }}" class="placeholder-svg" alt="{{ section.settings.image }}" />
    {% endif %}
    </div>
    <div class="col-12 col-lg-6 align-self-center text-col py-5 px-5 order-last{%if section.settings.layout == "2" %} order-lg-first{%endif%}">
      <h2 class="mb-3">{{ section.settings.heading }}</h2>
      <p class="mb-4">{{ section.settings.content }}</p>
      {% if section.settings.btn_label != blank and section.settings.btn_label2 == blank %}
      <a class="btn btn-{{ section.settings.btn_color }} btn-{{ section.settings.btn_size }}" tabindex="-1" role="button" href="{{ section.settings.btn_link }}">
          {{ section.settings.btn_label }}
      </a>
      {% elsif section.settings.btn_label2 != blank %}
      <div class="d-grid gap-2 d-md-block">
          <a class="btn btn-{{ section.settings.btn_color }} btn-{{ section.settings.btn_size }}" tabindex="-1" role="button" href="{{ section.settings.btn_link }}">
          {{ section.settings.btn_label }}
      </a>
         <a class="btn btn-{{ section.settings.btn_color2 }} btn-{{ section.settings.btn_size }}" tabindex="-1" role="button" href="{{ section.settings.btn_link2 }}">
          {{ section.settings.btn_label2 }}
      </a>
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
    "name": "Test with templates and assets",
    "description": "Image with Text section containing 1 column for image and 1 column for content",
    "settings": [
    {
        "type": "checkbox",
        "id": "fullwidth",
        "label": "Full Width"
    },
    {
        "type": "select",
        "id": "margin",
        "label": "Section Margin",
        "options": [
        {
            "label": "Large",
            "value": "5"
        },
        {
            "label": "Medium",
            "value": "3"
        },
        {
            "label": "Small",
            "value": "1"
        },
        {
            "label": "None",
            "value": "0"
        }]
    },
    {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "1",
        "options": [
        {
            "label": "Image Left Content Right",
            "value": "1"
        },
        {
            "label": "Content Left Image Right",
            "value": "2"
        }]
    },
    {
        "type": "color",
        "id": "bg_color",
        "label": "Section Background Color",
        "default": "#FFF"
    },
    {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
    },
    {
        "type": "text",
        "id": "alt",
        "label": "Image Alt Text"
    },
    {
        "type": "text",
        "id": "heading",
        "label": "Heading"
    },
    {
        "type": "richtext",
        "id": "content",
        "label": "Text"
    },
    {
        "type": "select",
        "id": "btn_size",
        "label": "Button Size",
        "options": [
        {
            "label": "Small",
            "value": "sm"
        },
        {
            "label": "Large",
            "value": "lg"
        }]
    },
    {
        "type": "text",
        "id": "btn_label",
        "label": "Button 1 Label"
    },
    {
        "type": "text",
        "id": "btn_link",
        "label": "Button 1 Link"
    },
    {
        "type": "select",
        "id": "btn_color",
        "label": "Button 1 Color",
        "options": [
        {
            "label": "Primary",
            "value": "primary"
        },
        {
            "label": "Secondary",
            "value": "secondary"
        },
        {
            "label": "Success",
            "value": "success"
        },
        {
            "label": "Danger",
            "value": "danger"
        },
        {
            "label": "Warning",
            "value": "warning"
        },
        {
            "label": "Info",
            "value": "info"
        },
        {
            "label": "Light",
            "value": "light"
        },
        {
            "label": "Dark",
            "value": "dark"
        },
        {
            "label": "Link",
            "value": "link"
        }]
    },
    {
        "type": "text",
        "id": "btn_label2",
        "label": "Button 2 Label"
    },
    {
        "type": "text",
        "id": "btn_link2",
        "label": "Button 2 Link"
    },
    {
        "type": "select",
        "id": "btn_color2",
        "label": "Button 2 Color",
        "options": [
        {
            "label": "Primary",
            "value": "primary"
        },
        {
            "label": "Secondary",
            "value": "secondary"
        },
        {
            "label": "Success",
            "value": "success"
        },
        {
            "label": "Danger",
            "value": "danger"
        },
        {
            "label": "Warning",
            "value": "warning"
        },
        {
            "label": "Info",
            "value": "info"
        },
        {
            "label": "Light",
            "value": "light"
        },
        {
            "label": "Dark",
            "value": "dark"
        },
        {
            "label": "Link",
            "value": "link"
        }]
    }
    
]
}
{% endschema %}